---
layout: esports
page-title: Tournament Page
page-heading: "Tournament <span class=\"highlight\">Page</span>"
megamenu: v3

breadcrumbs: [
	{
		label: "Teams",
		link: "#"
	},
	{
		label: "L.O. Heroes",
		link: "#"
	},
	{
		label: "Tournament Page"
	}
]
---

<!-- Content
================================================== -->
<div class="site-content">
	<div class="container">

		<div class="row">

			<div class="col-lg-8">

				{{> _esports_widget-video title="Tournament Live Matches" padding="true" btn="true" id="iH0wacpNuDQ" thumbnail="assets/images/esports/samples/event-video2-cover-md.jpg"}}

				{{> _esports_widget-schedule-tournaments }}

				{{> _esports_widget-last-matches-tournaments }}

			</div>

			<div class="col-lg-4">

				{{> _esports_widget-tournament }}

				{{> _esports_widget-standings-full title="Tournament Standings" }}

			</div>

		</div>

		<div class="spacer-lg"></div>

		<!-- Tournament Brackets -->
		<div class="card card--clean">
			<header class="card__header">
				<h4>Tournament Bracket</h4>
			</header>
			<div class="card__content">

				<!-- Bracket -->
				<div class="alc-template-tournament-bracket alc-tournament-bracket-single">
					<div class="alc-tournament-bracket row align-items-center">

						<!-- Quarter-Final -->
						<div class="alc-tournament-bracket__round alc-tournament-bracket__round--quarter col">

							<!-- Section #1 -->
							<div class="alc-tournament-bracket__section">
								<!-- Event #1 -->
								<div class="alc-tournament-bracket__event">
									<div class="alc-tournament-bracket__team alc-tournament-bracket__team--winner card">
										<div class="alc-tournament-bracket__team-body">
											<figure class="alc-tournament-bracket__team-thumb">
												<img src="{{../root}}assets/images/samples/logos/pirates_shield.png" alt="">
											</figure>
											<div class="alc-tournament-bracket__team-info">
												<h6 class="alc-tournament-bracket__team-name">L.A. Pirates</h6>
												<span class="alc-tournament-bracket__team-place">United States</span>
											</div>
										</div>
										<div class="alc-tournament-bracket__team-score">7</div>
									</div>
									<div class="alc-tournament-bracket__team card">
										<div class="alc-tournament-bracket__team-body">
											<figure class="alc-tournament-bracket__team-thumb">
												<img src="{{../root}}assets/images/samples/logos/icarus_wings_shield.png" alt="">
											</figure>
											<div class="alc-tournament-bracket__team-info">
												<h6 class="alc-tournament-bracket__team-name">Icarus Wings</h6>
												<span class="alc-tournament-bracket__team-place">Portugal</span>
											</div>
										</div>
										<div class="alc-tournament-bracket__team-score">4</div>
									</div>
								</div>
								<!-- Event #1 / End -->
								<!-- Event #2 -->
								<div class="alc-tournament-bracket__event">
									<div class="alc-tournament-bracket__team card">
										<div class="alc-tournament-bracket__team-body">
											<figure class="alc-tournament-bracket__team-thumb">
												<img src="{{../root}}assets/images/samples/logos/draconians_shield.png" alt="">
											</figure>
											<div class="alc-tournament-bracket__team-info">
												<h6 class="alc-tournament-bracket__team-name">Draconians</h6>
												<span class="alc-tournament-bracket__team-place">Russia</span>
											</div>
										</div>
										<div class="alc-tournament-bracket__team-score">2</div>
									</div>
									<div class="alc-tournament-bracket__team alc-tournament-bracket__team--winner card">
										<div class="alc-tournament-bracket__team-body">
											<figure class="alc-tournament-bracket__team-thumb">
												<img src="{{../root}}assets/images/samples/logos/red_wings_shield.png" alt="">
											</figure>
											<div class="alc-tournament-bracket__team-info">
												<h6 class="alc-tournament-bracket__team-name">Red Wings</h6>
												<span class="alc-tournament-bracket__team-place">Canada</span>
											</div>
										</div>
										<div class="alc-tournament-bracket__team-score">5</div>
									</div>
								</div>
								<!-- Event #2 / End -->
							</div>
							<!-- Section #1 / End -->

							<!-- Section #2 -->
							<div class="alc-tournament-bracket__section">
								<!-- Event #3 -->
								<div class="alc-tournament-bracket__event">
									<div class="alc-tournament-bracket__team card">
										<div class="alc-tournament-bracket__team-body">
											<figure class="alc-tournament-bracket__team-thumb">
												<img src="{{../root}}assets/images/samples/logos/sharks_shield.png" alt="">
											</figure>
											<div class="alc-tournament-bracket__team-info">
												<h6 class="alc-tournament-bracket__team-name">Sharks</h6>
												<span class="alc-tournament-bracket__team-place">South Korea</span>
											</div>
										</div>
										<div class="alc-tournament-bracket__team-score">9</div>
									</div>
									<div class="alc-tournament-bracket__team alc-tournament-bracket__team--winner card">
										<div class="alc-tournament-bracket__team-body">
											<figure class="alc-tournament-bracket__team-thumb">
												<img src="{{../root}}assets/images/esports/logos/alchemists-22x25.png" alt="">
											</figure>
											<div class="alc-tournament-bracket__team-info">
												<h6 class="alc-tournament-bracket__team-name">The Alchemists</h6>
												<span class="alc-tournament-bracket__team-place">United States</span>
											</div>
										</div>
										<div class="alc-tournament-bracket__team-score">12</div>
									</div>
								</div>
								<!-- Event #3 / End -->
								<!-- Event #4 -->
								<div class="alc-tournament-bracket__event">
									<div class="alc-tournament-bracket__team alc-tournament-bracket__team--winner card">
										<div class="alc-tournament-bracket__team-body">
											<figure class="alc-tournament-bracket__team-thumb">
												<img src="{{../root}}assets/images/samples/logos/ocean_kings_shield.png" alt="">
											</figure>
											<div class="alc-tournament-bracket__team-info">
												<h6 class="alc-tournament-bracket__team-name">Ocean Kings</h6>
												<span class="alc-tournament-bracket__team-place">Japan</span>
											</div>
										</div>
										<div class="alc-tournament-bracket__team-score">6</div>
									</div>
									<div class="alc-tournament-bracket__team card">
										<div class="alc-tournament-bracket__team-body">
											<figure class="alc-tournament-bracket__team-thumb">
												<img src="{{../root}}assets/images/samples/logos/lucky_clovers_shield.png" alt="">
											</figure>
											<div class="alc-tournament-bracket__team-info">
												<h6 class="alc-tournament-bracket__team-name">Lucky Clovers</h6>
												<span class="alc-tournament-bracket__team-place">Ireland</span>
											</div>
										</div>
										<div class="alc-tournament-bracket__team-score">4</div>
									</div>
								</div>
								<!-- Event #4 / End -->
							</div>
							<!-- Section #2 / End -->

						</div>
						<!-- Quarter-Final / End -->

						<!-- Semi-Final -->
						<div class="alc-tournament-bracket__round alc-tournament-bracket__round--semi col">
							<!-- Section #1 -->
							<div class="alc-tournament-bracket__section">
								<!-- Event #1 -->
								<div class="alc-tournament-bracket__event">
									<div class="alc-tournament-bracket__team alc-tournament-bracket__team--winner card">
										<div class="alc-tournament-bracket__team-body">
											<figure class="alc-tournament-bracket__team-thumb">
												<img src="{{../root}}assets/images/samples/logos/pirates_shield.png" alt="">
											</figure>
											<div class="alc-tournament-bracket__team-info">
												<h6 class="alc-tournament-bracket__team-name">L.A. Pirates</h6>
												<span class="alc-tournament-bracket__team-place">United States</span>
											</div>
										</div>
										<div class="alc-tournament-bracket__team-score">9</div>
									</div>
									<div class="alc-tournament-bracket__team card">
										<div class="alc-tournament-bracket__team-body">
											<figure class="alc-tournament-bracket__team-thumb">
												<img src="{{../root}}assets/images/samples/logos/red_wings_shield.png" alt="">
											</figure>
											<div class="alc-tournament-bracket__team-info">
												<h6 class="alc-tournament-bracket__team-name">Red Wings</h6>
												<span class="alc-tournament-bracket__team-place">Canada</span>
											</div>
										</div>
										<div class="alc-tournament-bracket__team-score">7</div>
									</div>
								</div>
								<!-- Event #1 / End -->
								<!-- Event #2 -->
								<div class="alc-tournament-bracket__event">
									<div class="alc-tournament-bracket__team alc-tournament-bracket__team--winner card">
										<div class="alc-tournament-bracket__team-body">
											<figure class="alc-tournament-bracket__team-thumb">
												<img src="{{../root}}assets/images/esports/logos/alchemists-22x25.png" alt="">
											</figure>
											<div class="alc-tournament-bracket__team-info">
												<h6 class="alc-tournament-bracket__team-name">The Alchemists</h6>
												<span class="alc-tournament-bracket__team-place">United States</span>
											</div>
										</div>
										<div class="alc-tournament-bracket__team-score">8</div>
									</div>
									<div class="alc-tournament-bracket__team card">
										<div class="alc-tournament-bracket__team-body">
											<figure class="alc-tournament-bracket__team-thumb">
												<img src="{{../root}}assets/images/samples/logos/ocean_kings_shield.png" alt="">
											</figure>
											<div class="alc-tournament-bracket__team-info">
												<h6 class="alc-tournament-bracket__team-name">Ocean Kings</h6>
												<span class="alc-tournament-bracket__team-place">Japan</span>
											</div>
										</div>
										<div class="alc-tournament-bracket__team-score">4</div>
									</div>
								</div>
								<!-- Event #2 / End -->
							</div>
							<!-- Section #1 / End -->
						</div>
						<!-- Semi-Final / End -->

						<!-- Final -->
						<div class="alc-tournament-bracket__round alc-tournament-bracket__round--final col">
							<!-- Section #1 -->
							<div class="alc-tournament-bracket__section">
								<!-- Event #1 -->
								<div class="alc-tournament-bracket__event">
									<div class="alc-tournament-bracket__team card">
										<div class="alc-tournament-bracket__team-body">
											<figure class="alc-tournament-bracket__team-thumb">
												<img src="{{../root}}assets/images/samples/logos/pirates_shield.png" alt="">
											</figure>
											<div class="alc-tournament-bracket__team-info">
												<h6 class="alc-tournament-bracket__team-name">L.A. Pirates</h6>
												<span class="alc-tournament-bracket__team-place">United States</span>
											</div>
										</div>
										<div class="alc-tournament-bracket__team-score">-</div>
									</div>
									<div class="alc-tournament-bracket__team card">
										<div class="alc-tournament-bracket__team-body">
											<figure class="alc-tournament-bracket__team-thumb">
												<img src="{{../root}}assets/images/esports/logos/alchemists-22x25.png" alt="">
											</figure>
											<div class="alc-tournament-bracket__team-info">
												<h6 class="alc-tournament-bracket__team-name">The Alchemists</h6>
												<span class="alc-tournament-bracket__team-place">United States</span>
											</div>
										</div>
										<div class="alc-tournament-bracket__team-score">-</div>
									</div>
								</div>
								<!-- Event #1 / End -->
							</div>
							<!-- Section #1 / End -->

						</div>
						<!-- Final / End -->

						<!-- Champion -->
						<div class="alc-tournament-bracket__round alc-tournament-bracket__round--champion col">
							<!-- Section #1 -->
							<div class="alc-tournament-bracket__section">
								<!-- Event #1 -->
								<div class="alc-tournament-bracket__event">
									<div class="alc-tournament-bracket__team alc-tournament-bracket__team--winner card">
										<div class="alc-tournament-bracket__team-score alc-tournament-bracket__team-score--final">
											<svg role="img" class="df-icon df-icon--trophy">
												<use xlink:href="{{../root}}assets/images/esports/icons-esports.svg#trophy"/>
											</svg>
										</div>
									</div>
								</div>
								<!-- Event #1 / End -->
							</div>
							<!-- Section #1 / End -->
						</div>
						<!-- Champion / End -->
					</div>
				</div>
				<!-- Bracket / End -->

			</div>
		</div>
		<!-- Tournament Brackets / End -->


	</div>
</div>

<!-- Content / End -->
