<!-- Widget: Twitch Streams -->
<aside class="widget widget--sidebar widget-twitch">
	<div class="twitch-streams">

		{{#each (limit esports.streams.widget-twitch 4)}}
		<!-- Stream #{{@index}} -->
		<div class="twitch-stream-wrapper">
			<a href="#" class="twitch-stream {{#if featured}}twitch-stream--featured{{/if}} {{#if has_video}}twitch-stream--has-video{{/if}} card">
				<div class="twitch-stream__overlay twitch-stream__overlay--bg{{@index}}"></div>
				<figure class="twitch-stream__img {{#if featured}}twitch-stream__img--extra-top{{/if}}">
					<img src="{{../roots}}assets/images/esports/samples/{{img}}" alt="">
				</figure>
				<div class="twitch-stream__body">
					{{#if featured}}
					<h6 class="twitch-stream__featured">Featured Stream</h6>
					{{/if}}
					<h5 class="twitch-stream__title">{{title}}</h5>
					<div class="twitch-stream__info">{{info}}</div>

					{{#ifequal status 'online'}}
					<div class="twitch-stream__status twitch-stream__status--online">Live</div>
					{{/ifequal}}

					{{#ifequal status 'scheduled'}}
					<div class="twitch-stream__status twitch-stream__status--scheduled">Starts in: <div class="twitch-stream__countdown-counter countdown-counter" data-date="{{starts_in}}"></div></div>
					{{/ifequal}}

					{{#ifequal status 'offline'}}
					<div class="twitch-stream__status twitch-stream__status--offline">Offline</div>
					{{/ifequal}}
				</div>
			</a>

			{{#if has_video}}
			<div class="twitch-stream-video card">
				<div class="card__content">
					<figure class="twitch-stream-video__clip">
						{{!-- <iframe src="https://player.twitch.tv/?channel=thijshs&autoplay=false" frameborder="0" allowfullscreen="true" scrolling="no" height="182" width="330"></iframe> --}}
						<a href="#" class="twitch-stream-video__link" target="_blank"><img src="{{../root}}assets/images/esports/samples/twitch-stream-cover.jpg" alt=""></a>
					</figure>
				</div>
			</div>
			{{/if}}

		</div>
		<!-- Stream #{{@index}} / End -->
		{{/each}}


	</div>
</aside>
<!-- Widget: Twitch Streams / End -->
